# -------------------------------
# PYTHON ENVIRONMENTS
# -------------------------------
venv/
*/venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------------
# NODE / REACT
# -------------------------------
node_modules/
build/
dist/
*.log

# -------------------------------
# UPLOADS / TEMP FILES
# -------------------------------
uploads/
db/
*.sqlite3
*.db

# -------------------------------
# SYSTEM FILES
# -------------------------------
.DS_Store
Thumbs.db

# -------------------------------
# IDE / EDITOR FILES
# -------------------------------
.vscode/
.idea/
*.swp
