fastapi
uvicorn
gunicorn==23.0.0

sqlalchemy
psycopg2-binary
geoalchemy2
alembic

python-dotenv
python-multipart
email-validator

passlib[bcrypt]
bcrypt

celery
redis

transformers
torch
datasets
accelerate
scikit-learn
xgboost
bentoml

requests
httpx

python-jose[cryptography]
feedparser>=6.0.10
beautifulsoup4>=4.12.3
